@import '../variables';

.p-invalid-from-message{
  margin-top: 5px;
    font-size: 17px;
    .pi{
        color: var(--color-cx-feedback-error-default) !important;
        margin-right: 5px;
    }
    .p-error{
        color: var(--color-cx-feedback-error-default) !important;
    }
}

