.app_card{
    &__container{

        img{
            width: 50%;
        }
        p{
            text-align: justify;
            text-justify: inter-word;
        }

        &__cardCenter{
         display: flex;
         justify-content: center;
         align-items: center;
        }
    }
}
