
/* -- Fonts --*/
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/Open_Sans/opensans-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/Open_Sans/opensans-regular-webfont.woff') format('woff'),
       url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
