
/* -- Variables --*/
:root {
  --color-cx-grey10: #F8F8F8;
  --color-cx-white: #FFFFFF;
  --color-cx-grey40: #D7D7D7;
  --color-cx-grey100: #555555;
  --color-cx-interaction-default-active: #0377BD;
  --color-cx-feedback-error-default: #E1275C;
  --color-cx-interaction-hover: #02588C;
  --color-cx-interaction-disabled: #7EBBC2;
  --color-cx-blue100: #00798D;


  /* Font/text values */
  --font-family-open-sans: 'Open Sans';
  --font-style-normal: normal;
  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --font-size-16: 16px;
  --font-size-21: 21px;
  --character-spacing-0: 0px;
  --line-spacing-22: 22px;
  --line-spacing-28: 28px;
}
